[Unit]
Description=sumika PTY supervisor
Documentation=https://github.com/Sannrox/sumika

[Service]
Type=simple
ExecStart=SUMIKA_BIN daemon
Restart=on-failure

[Install]
WantedBy=default.target
